es-data/
scraping/

backend/.gitignore
backend/target
backend/classes
backend/checkouts
backend/pom.xml
backend/pom.xml.asc
backend/*.jar
backend/*.class
backend/.lein-*
backend/.nrepl-port
backend/.hgignore
backend/.hg/
backend/?/
backend/public/

frontend/.gitignore
frontend/node_modules
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

