.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  border-bottom: 20px solid red;
}

.App-header > h1 {
  font-size: xx-large;
}

.App-form {
  margin: 20px 0;
}

.App-main {
  margin-bottom: 65px;
}

.App-content {
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
}

.info {
  margin: 10px auto;
  border: 5px solid #aaa;
  background: #f5f5f5;
}

.episodes {
  margin: 0;
  padding: 0;
  list-style: none;
}

.episode {
  margin: 10px auto;
  border: 5px solid #aaa;
  background: #f5f5f5;
}

.episode:hover {
  cursor: pointer;
}

.episode p {
  margin: 10px;
  line-height: 1.5em;
}

.App-footer {
  width: 100%;
  color: #aaa;
  font-size: smaller;
  position: absolute;
  bottom: 0;
}
